NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=some_very_long_and_random_string
NEXT_PUBLIC_API_URL=http://localhost:8080/api

KEYCLOAK_REALM=taskflow-dev
KEYCLOAK_CLIENT_ID=taskflow-web
KEYCLOAK_CLIENT_SECRET=super-secret
KEYCLOAK_URL=http://localhost:8081/auth
KEYCLOAK_ISSUER=${KEYCLOAK_URL}/realms/${KEYCLOAK_REALM}

NODE_ENV=development
