PORT=8080

# Node environment
NODE_ENV=development

# Database connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/taskflow"
API_CLIENT_SECRET=

# Keycloak configuration
KEYCLOAK_REALM=taskflow-dev
KEYCLOAK_AUTH_SERVER_URL=http://localhost:8081/
KEYCLOAK_SSL_REQUIRED=none
KEYCLOAK_RESOURCE=taskflow-api
KEYCLOAK_BEARER_ONLY=true
KEYCLOAK_CONFIDENTIAL_PORT=0
KEYCLOAK_REALM_PUBLIC_KEY=YOUR_REALM_PUBLIC_KEY
KEYCLOAK_CLIENT_SECRET=