NODE_ENV=development
PORT=8080

SESSION_SECRET=your_session_secret_here_with_at_least_32_characters

KEYCLOAK_REALM=taskflow-dev
KEYCLOAK_SSL_REQUIRED=none
KEYCLOAK_RESOURCE=taskflow-api
KEYCLOAK_BEARER_ONLY=true
KEYCLOAK_CONFIDENTIAL_PORT=0
KEYCLOAK_REALM_PUBLIC_KEY=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_AUTH_SERVER_URL=http://localhost:8081/
